/* Fix layout overflow on small screens */
body {
  overflow-x: hidden;
}

/* Base logo style */
.navbar-brand img {
  max-width: 280px;
  transition: all 0.3s ease;
}

/* Shrink logo on small screens */
@media (max-width: 576px) {
  .navbar-brand img {
    max-width: 200px;
  }
}


@media (max-width: 330px) {
  .navbar-brand img {
    max-width: 170px;
  }
}

